<div class="h-dvh sg:static md:static size-fit w-full flex-1">
    <nav-page></nav-page>
    <div class="h-vh size-fit w-full top-0 left-0 relative">
        <div class="flex items-center justify-start w-full pl-16 pt-1">
                <h2 class="text-2xl text-blue-900 pr-4 font-medium">Requisitos de la beca</h2>
        </div>
        <hr class="h-px m-2 bg-[#024272] border-0 dark:bg-[#024272]">  
        <div class="grid grid-cols-4 gap-4 w-full p-4">
            @for (card of cards; track card.id) {
                <div class="flex-col items-stretch border h-54 w-72 p-4 rounded-lg bg-slate-200 shadow-lg">
                    <img src="../../../../assets/images/error.svg" alt="Logo UTPL" class="-left-4 -top-4 h-4">
                    <div class="flex items-center justify-center w-full">
                        <img [src]="card.rutaImg" alt="Logo UTPL" class="h-12 px-8">
                    </div>
                    <h3 class="my-4 h-14 relative text-card text-left text-sm text-blue-900 font-medium">
                        {{ card.texto }}
                    </h3>
                    <div class="flex items-center justify-center">
                        @if (card.mismaPagina) {
                            <a class="bg-[#FEBE10] pt-1 text-center border border-yellow-500 rounded-full h-7 w-36  text-sm text-blue-900 font-medium cursor-pointer hover:text-white"
                            (click)="openDialog(card.ruta)">
                                {{ card.textoBoton }}
                            </a>
                        }@else{
                            <a class="bg-[#FEBE10] pt-1 text-center border border-yellow-500 rounded-full h-7 w-36  text-sm text-blue-900 font-medium cursor-pointer hover:text-white"
                            [routerLink]="card.ruta" routerLinkActive="active-link">
                                {{ card.textoBoton }}
                            </a>
                        }
                    </div>
                </div>
            }      
        </div>
    </div>
    <footer-page class="absolute -bottom-0 w-full"></footer-page>
</div>