<div class="h-dvh relative size-fit w-full flex-1">
    <nav-page></nav-page>
    <div class="fixed left-8 top-24 z-50">
        <a class="flex bg-[#FEBE10] items-center justify-center border border-yellow-500 rounded-lg h-8 w-8  text-sm text-blue-900 font-medium cursor-pointer hover:text-white"
            routerLink="/auth/grantrequirements" routerLinkActive="active-link">
            <
        </a>
    </div>
    <img src="../../../../assets/images/ficha.png" alt="Ficha socioeconómica" class="h-5/6 w-screen">
    <footer-page class="absolute bottom-0 w-full"></footer-page>
</div>