<div class="h-full flex flex-col md:my-6 sm:my-4 mx-8">

  <!-- Título -->
  <h2 class="md:text-3xl sm:text-2xl text-primary font-medium">Requisitos de solicitudes de becas</h2>

  <!-- Línea divisoria -->
  <hr class="mt-4 border border-primary"/>

  <!-- Sección de tabla -->
  <section class="flex-1 flex flex-col min-h-0">

    <!-- Tabla -->
    <div class="overflow-x-auto">
      <table class="w-full bg-white border-separate border-spacing-y-4">
        <!-- Encabezado -->
        <thead class="bg-primary text-white text-center text-lg">
          <tr>
            @for (header of headers(); track $index; let first = $first, last = $last) {
              <th class="py-1 px-4 font-medium w-[150px]"
                  [ngClass]="{'rounded-l-md': first, 'rounded-r-md': last}">{{ header }}</th>
            }
            <!-- <th colspan="2" class="py-3 px-4 font-medium w-[200px]">Acciones</th> -->
          </tr>
        </thead>

        <!-- Cuerpo de la Tabla -->
        <tbody>
          @for (row of data(); track $index) {
            <tr class="bg-surface text-center">
              <td class="px-4 py-3 rounded-l-md w-[100px]">{{ row.year }}</td>
              <td class="px-4 py-3 w-[160px]">{{ row.period }}</td>
              <td class="px-4 py-3 w-[140px]">{{ row.modality }}</td>
              <td class="px-4 py-3 w-[180px]">{{ row.scholarshipType }}</td>
              <td class="px-4 py-3 w-[160px]">{{ row.applicationDate }}</td>
              <td class="px-4 py-3 w-[160px]">{{ row.status === null ? 'En Revisión' : row.status }}</td>
              <td class="px-4 py-3 w-[180px] rounded-r-md text-left">{{ row.observations === null ? 'Ninguna' : row.observations }}</td>

              <!-- Acciones -->
              <td class="px-2 py-3 w-[100px] flex justify-center">
                <button class="px-3 py-1 text-sm rounded-md bg-green-400 text-primary hover:bg-green-500">
                  Ver / Modificar
                </button>
              </td>
              <td class="px-2 py-3 w-[100px] flex justify-center">
                <button class="px-3 py-1 text-sm rounded-md bg-red-400 text-white hover:bg-red-500">
                  Borrar
                </button>
              </td>

              <!-- Generar PDF -->
              <td class="px-4 py-3 w-[140px] rounded-r-md">
                <button class="px-3 py-1 text-sm rounded-md bg-yellow-400 text-primary hover:bg-yellow-500">
                  Generar PDF
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </section>
</div>
