<ul class="absolute right-0 z-10 mt-2 overflow-hidden bg-white rounded-lg shadow-xl w-80">

  <!-- Notifications -->
  <li class="flex items-center p-2 hover:text-white hover:bg-primary">

    <!-- Image or Avatar -->
    <img class="object-cover w-10 h-9 rounded-full"
      src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=634&amp;q=80"
      alt="avatar">

    <!-- Texto -->
    <p class="ml-2 text-sm w-full">
      <span>
        <b>Juan Pérez</b> modificó la beca de
        <span class="font-medium text-secondary">Discapacidad</span>
      </span>
      <span class="text-xs ml-2 float-end leading-5">Hace 2m</span>
    </p>
  </li>

  <li class="flex items-center p-2 hover:text-white hover:bg-primary">

    <!-- Image or Avatar -->
    <img class="object-cover w-10 h-9 rounded-full"
      src="https://images.unsplash.com/photo-1580489944761-15a19d654956?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=398&amp;q=80"
      alt="avatar">

    <!-- Texto -->
    <p class="ml-2 text-sm w-full">
      <span>
        <b>Abigail Bennett</b> se unió
      </span>
      <span class="text-xs ml-2 float-end leading-5">1h</span>
    </p>
  </li>
</ul>
