<div class="absolute inset-0 mt-5 flex items-center justify-center bg-black bg-opacity-25">

  <!-- Ventana Emergente -->
  <section class="bg-white py-5 px-10 h-5/6 overflow-y-auto rounded-lg ">

    <h2 class="md:text-2xl sm:text-xl font-medium">¡Encuentra la beca perfecta para ti! 🎓</h2>
    <p class="md:text-xl sm:text-lg">
      Completa la tabla seleccionando del 1 (nada/muy bajo) al 5 (demasiado/muy alto) según tu situación actual. ¡Cada elección nos ayudará a<br>
      recomendarte la beca que mejor se ajuste a tu perfil y te ofrezca el beneficio más alto posible! 💰✨
    </p>
    <p class="md:text-xl sm:text-lg mb-3"><span class="font-medium">Nota:</span> Entre más precisa sea tu información, más exacta será tu recomendación. ¡Tú eliges, nosotros te guiamos! 🚀</p>

    <!-- Tabla de Decisión -->
    <div class="mx-auto border-4 border-gray-700 rounded-lg">
      <table mat-table [dataSource]="rows()" class="table-auto">

        <!-- Encabezado de Condiciones -->
        <ng-container matColumnDef="condición">
          <th mat-header-cell *matHeaderCellDef class="text-primary text-lg">
            Condición
          </th>
          <td mat-cell *matCellDef="let condition">
            {{ condition }}
          </td>
        </ng-container>

        <!-- Columnas de Opciones (1-5) con Radio Buttons -->
        @for (number of [1, 2, 3, 4, 5]; track $index) {
          <ng-container [matColumnDef]="number.toString()">
            <th mat-header-cell *matHeaderCellDef class="text-primary text-lg">
              {{ number }}
            </th>
            <td mat-cell *matCellDef="let condition">
              <mat-radio-group [value]="selectedValues()[condition]" (change)="onSelect(condition, number)">
                <mat-radio-button [value]="number"></mat-radio-button>
              </mat-radio-group>
            </td>
          </ng-container>
        }

        <!-- Encabezado -->
        <tr mat-header-row *matHeaderRowDef="columns()" class="header border-b-2 border-gray-700"></tr>

        <!-- Filas -->
        <tr mat-row *matRowDef="let row; columns: columns()"></tr>

      </table>
    </div>

    <!-- Botón para validar los inputs de las páginas hijas -->
    <div class="flex justify-end mt-3 font-medium">
      <button (click)="onConfirm()" class="w-fit py-2 px-6 bg-secondary text-primary hover:text-white rounded-md">
        Confirmar
      </button>

      <button (click)="onNext()" class="w-fit ml-3 py-2 px-6 bg-red-400 text-primary hover:text-white rounded-md">
        Saltar
      </button>
    </div>
  </section>
</div>
